<!--Extracurriculars LAYOUT-->


<!--<script type="text/javascript" src="profilepage.js"></script>-->

<body>
    <div>
        <center>
        
        <h1 >Extracurriculars</h1>
        <script>
            var path = document.location.pathname;
            console.log("Extracurricular path: ", path);
        </script>
        <div class = "row">
            <div class="col-md-4 centeralign" id = "sportsCol"> <!-- background = "../public/images/sportsBlur.jpg"-->
                <br>
                <p><a class="btn btn-secondary" href="/user/sports" role="button">Sports &raquo;</a></p>
                <!--<img src="/images/sportsBlur.jpg" alt="IMG NOT FOUND WRONG DIR">-->
            </div>
            <div class="col-md-4 centeralign" id = "clubsCol">
                <br>
                <p><a class="btn btn-secondary" href="/user/clubs" role="button">Clubs &raquo;</a></p>
            </div>
            <div class="col-md-4 centeralign" id = "greekCol">
                <br>
                <p><a class="btn btn-secondary" href="/user/greekLife" role="button">Greek Life &raquo;</a></p>
            </div>
        </div>
        </center>
    </div>
</body>

