<!--PROFILE LAYOUT-->


<script type="text/javascript" src="profilepage.js"></script>

<body>
    <div>
        <center>
        <h1 >Home Page</h1>
        <p>Major: Computer Science</p>
        <p>Cum GPA: 3.14</p>
        <p>Year: Senior+</p>
        <p>Graduation Date: Spring 2058</p>
        </center>
    </div>
</body>

