<!--SETTINGS LAYOUT-->


<script type="text/javascript" src="profilepage.js"></script>

<div class="container">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">&nbsp&nbsp&nbsp&nbspPage Settings&nbsp&nbsp&nbsp&nbsp</h2>
          <p class="lead"></p>
          <div class="form-group">
            <label for="sel1">Theme:</label>
                <select class="form-control1" id="sel1" >
                    <option>Basic</option>
                    <option>Dark</option>
                    <option>Grass</option>
                    <option>Ocean</option>
                    <option>Pro</option>
                </select>
            </div>
        </div>
        <p><a class="btn btn-primary btn" href="/user/profilepage" role="button">Save &raquo;</a></p>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Security Settings</h2>
          <p class="lead"></p>
          <div class="form-group">
            <label for="sel1">Privacy:</label>
                <select class="form-control1" id="sel1" >
                    <option>Private</option>
                    <option>Protected</option>
                    <option>Public</option>
                    <option>Internal</option>
                </select>
            </div>
        </div>
        <p><a class="btn btn-primary btn" href="/user/profilepage" role="button">Save &raquo;</a></p>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Account Settings</h2>
          <p class="lead"></p>
          <div class="form-group">
            <label for="sel1">Language:</label>
                <select class="form-control1" id="sel1" >
                    <option>English</option>
                    <option>Spanish</option>
                    <option>Chinese</option>
                    <option>French</option>
                </select>
            </div>
        </div>
        <p><a class="btn btn-primary btn" href="/user/profilepage" role="button">Save &raquo;</a></p>
      </div>
    </div>

    
</div>