<!--Sports LAYOUT-->

<body>
    <div>
        <center>
        
        <h1 > Your Sports</h1>

        <div class = "row">
            <div class="col-md-5 centeralign"> <!-- background = "../public/images/sportsBlur.jpg"-->
                <br>
                <h3>Intramurals</h3>
                <br>
                    <p>Currently Enrolled in 0 Intramural Sports</p>
                <br>
            </div>
            <div class="col-md-5 rightalign">
                <br>
                <h3> Sport Clubs </h3>
                <br>
                    <h5>Sport: Wrestling</h5>
                    <h6>Varsity Member</h6>
                    <h6>Weight Class: 149</h6>
                    <h6>Leadership Role: Treasurer</h6>
                    <p>...+sports information</p>
                <br>
            </div>
            
        </div>
        </center>
    </div>


    <center>
        <br>
        <h3>  WSU Sports Events Schedule</h3>
        <br>
    </center>
    

    <div class="wrapper">
        <main>
        <div class="toolbar">
            <div class="toggle">
            <div class="toggle__option">week</div>
            <div class="toggle__option toggle__option--selected">month</div>
        </div>
          <div class="current-month">December 2018</div>
          <div class="search-input">
            <input type="text" value="Search">
            <i class="fa fa-search"></i>
        </div>
        </div>
        <div class="calendar">
            <div class="calendar__header">
                <div>mon</div>
                <div>tue</div>
                <div>wed</div>
                <div>thu</div>
                <div>fri</div>
                <div>sat</div>
                <div>sun</div>
            </div>
            <div class="calendar__week">
                <div class="calendar__day day">1</div>
                <div class="calendar__day day">2</div>
                <div class="calendar__day day">3</div>
                <div class="calendar__day day">4</div>
                <div class="calendar__day day">5</div>
                <div class="calendar__day day">6</div>
                <div class="calendar__day day">7</div>
            </div>
            <div class="calendar__week">
                <div class="calendar__day day">8</div>
                <div class="calendar__day day">9</div>
                <div class="calendar__day day">10</div>
                <div class="calendar__day day">11</div>
                <div class="calendar__day day">12</div>
                <div class="calendar__day day">13</div>
                <div class="calendar__day day">14</div>        
            </div>
            <div class="calendar__week">
                <div class="calendar__day day">15</div>
                <div class="calendar__day day">16</div>
                <div class="calendar__day day">17</div>
                <div class="calendar__day day">18</div>
                <div class="calendar__day day">19</div>
                <div class="calendar__day day">20</div>
                <div class="calendar__day day">21</div>    
            </div>
            <div class="calendar__week">
                <div class="calendar__day day">22</div>
                <div class="calendar__day day">23</div>
                <div class="calendar__day day">24</div>
                <div class="calendar__day day">25</div>
                <div class="calendar__day day">26</div> 
                <div class="calendar__day day">27</div> 
                <div class="calendar__day day">28</div> 
            </div>
            <div class="calendar__week">
                <div class="calendar__day day">29</div>
                <div class="calendar__day day">30</div>
                <div class="calendar__day day">31</div>
                <div class="calendar__day day">1</div>
                <div class="calendar__day day">2</div>
                <div class="calendar__day day">3</div>
                <div class="calendar__day day">4</div>
            </div>
        </div>
        </main>
    <sidebar>
        <div class="logo">SCALE</div>
        <div class="avatar">
            <div class="avatar__img">
                <img src="https://picsum.photos/70" alt="avatar">
            </div>
            <div class="avatar__name">Butch T. Cougar</div>
        </div>
        <nav class="menu">
            <a class="menu__item" href="#">
                <i class="menu__icon fa fa-home"></i>
                <span class="menu__text">overview</span>
            </a>
            <a class="menu__item" href="#">
                <i class="menu__icon fa fa-envelope"></i>
                <span class="menu__text">messages</span>
            </a>
            <a class="menu__item" href="#">
                <i class="menu__icon fa fa-list"></i>
                <span class="menu__text">workout</span>
            </a>
            <a class="menu__item menu__item--active" href="#">
                <i class="menu__icon fa fa-calendar"></i>
                <span class="menu__text">calendar</span>
            </a>
            <a class="menu__item" href="#">
                <i class="menu__icon fa fa-bar-chart"></i>
                <span class="menu__text">goals</span>
            </a>
            <a class="menu__item" href="#">
                <i class="menu__icon fa fa-trophy"></i>
                <span class="menu__text">achivements</span>
            </a>
            <a class="menu__item" href="#">
                <i class="menu__icon fa fa-sliders"></i>
                <span class="menu__text">measurements</span>
            </a>
        </nav>
        <div class="copyright">copyright &copy; 2018</div>
        </sidebar>
        </div>




</body>